/** відстані вирішив зробити у % */
body {
    margin-right: 30%;
    margin-left: 30%;
    background-color: #feffdd; /** по картинці не зрозуміло чи є там фон тому зробив так */
}
/** Заголовок зробив капсом */
h1 {
    text-align: center;
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 20px;
    font-weight: bold;
}

li span {
    color: #808080;
}

hr {
    color: #808080;
}

li a {
    color: #00f;
}

.text-center {
    text-align: center;
}

.li {
    color: #808080;
    list-style-type: none; /* Убераємо маркери */
}

.grey {
    color: #808080;
}


