/** відстані вирішив зробити у % */
.size-page {
    width: 500px;
    margin: 50px auto;
    font-family: "Myriad Pro", Myriad, Arial;
    font-size: 14px;
    text-align: center;
}

/** Заголовок зробив капсом */
h1 {
    margin-bottom: 28px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

h2,
h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

ul li {
    margin-left: -9px;
    padding-left: 6px;
    line-height: 19px;
}

li {
    color: #1f1f1f;
	text-align: left;    
}

/*li span {
    color: #1f1f1f;
}*/

hr {
    color: #1f1f1f;
}

img {
    border: 1px solid #000;
}

li a {
    color: #00f;
}

.text-cent {
    text-align: center;
}

.for-li {
    color: #1f1f1f;
    list-style-type: none; /* Убераємо маркери */
}

.col-grey {
    color: #1f1f1f;
    text-align: left;
}

.block {
    border-bottom: 1px solid #808080;
    line-height: 23px;
}



